Для реализации данного проекта был использован интерпретатор Python 3.8.10, при этом были загружены следующие пакеты:

- Jinja2	3.0.3
- PySide2	5.15.2
- aiohttp	3.8.1
- aiohttp-jinja2	1.5
- requests	2.26.0
